# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Build outputs
dist
lib
temp
release
sharepoint/solution
*.sppkg
.env

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# SPFx
config/serve.json
config/deploy-azure-storage.local.json
*.cer
*.pfx
